.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.number {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.statusNumber {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.flame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  height: 390px;
  background-color: #c6c6c6;
  border: 2px solid #808080;
}

.informationBoard {
  display: flex;
  width: 270px;
  height: 75px;
  margin-top: 12.5px;
  background-color: #c6c6c6;
  border: 2px solid #808080;
}

.flagBoard {
  display: flex;
  width: 75px;
  height: 45px;
  margin-top: 12.5px;
  margin-left: 10px;
  background-color: black;
  border: 2px solid #808080;
}

.statusBoard {
  display: flex;
  width: 45px;
  height: 45px;
  margin-top: 12.5px;
  margin-left: 27px;
  background-color: #c6c6c6;
  border: 2px solid #808080;
}

.timeBoard {
  display: flex;
  width: 75px;
  height: 45px;
  margin-top: 12.5px;
  margin-left: 27px;
  background-color: black;
  border: 2px solid #808080;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 274px;
  height: 274px;
  background-color: #c6c6c6;
  border: 2px solid #808080;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid #808080;
}
